<%= "Hello #{@customer.name}"%>
<%= link_to 'add pet', new_pet_path %>
<%= link_to 'Take Appointment', new_appointment_path %>
<div id="board">   
   <%= content_tag :div do %>
	<div class="header">
	
	
	</div>
	
	<% end %>
</div>