<%= "Hello #{@customer.name}"%>
<%= link_to 'Add pet' ,:controller => 'pets', :action => 'new', :customer_id => @customer.id %>
<%= link_to 'Make an Appointment' ,:controller => 'appointments', :action => 'new', :customer_id => @customer.id %>
<div id="board">   
   <%= content_tag :div do %>
	<div class="header">
	
	
	</div>
	
	<% end %>
</div>